@font-face {
  font-family: "Newsreader";
  src: url("../assets/newsreader/Newsreader_24pt-Regular.ttf")
    format("truetype"); /* Specify the path to the TrueType font file */
}

body {
  font-family: "Newsreader", serif; /* Use the NewsReader font */
}

.divider {
  border-top: 2px solid lightgrey;
  margin: 2px;
  margin-top: 20px;
}

.team-container {
  display: flex;
  gap: 25px;
}

.prompt {
  margin-top: 100px;
  border-radius: 10px;
  border: 5px;
  top: 20%;
  transform: translateX(55%);
  height: 350px;
  width: 530px;
  position: absolute;
  background-color: rgb(166, 183, 162);
  box-shadow: 10px 5px 5px grey;
}

.prompt-text {
  font-family: Newsreader;
  font-weight: 700;
  font-size: 35px;
  position: relative;
  top: 6%;
  text-align: center;
}

.desc-prompt {
  font-size: 20px;
  margin-top: -10px;
}

.prompt img {
  width: 175px;
  position: relative;
  transform: translateX(105%);
  margin-top: 40px;
}