.footer {
    display: flex;
    padding-top: 100px;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.information {
    padding: 0px 0px 10px;
    font-family: Inter;
}

.team-logo {
    width: 20%;
}