/* NavBar.css */
.navbar {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.logo-container {
  flex-grow: 1;
}

.logo img {
  height: 60px;
  margin-top: 10px;
  margin-right: 20px;
}

.search-bar-div {
  flex-grow: 2;
  height: 24px;
  margin-left: 80px;
  width: 27vw;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: 'inter', sans-serif;
  white-space: nowrap;
}

.nav-links li {
  margin: 0 10px;
  margin-top: -5px;
}

.nav-links {
  flex-grow: 2;
}

.post-listing-button {
  padding: 1.4vh 1.4vh;
  background-color: green;
  color: white;
  border-radius: 7px;
}

.logo {
  /* Your logo styles */
  width: 100px;
  height: 50px;
  flex-grow: 1;
}

/* Define the transition for the logo */
.logo img {
  transition: transform 0.3s ease-in-out; /* Adjust timing and easing as needed */
}

/* Apply hover effect on the logo */
.logo:hover img {
  transform: scale(1.06); /* Adjust scale factor as needed */
}

.nav-links {
  margin: 33px 0px 0px 15.839vh;
  font-size: 1.032vw;
}

.nav-links a {
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: none;
  color: inherit;
}

.nav-links a:active {
  text-decoration: none;
  color: inherit;
}

.nav-links a:visited {
  text-decoration: none;
}
